<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- sql문을 관리하는 파일 -->  
<!-- namespace: id를 그룹화 하기 위한 속성 -->
<!-- 매퍼에 있는 네임스페이스를 멤버매퍼로 만들어버린다면 회원의 매퍼를 가지고 있는 것들중에서 id=select를 가져오는거야
	 mapper경로 작성하기 	 -->
<mapper namespace="com.smhrd.database.Mapper">

<!-- id : 매퍼안에서 중복불가, 해당태그의 고유한 식별자, 세미콜론 적지 않는다. 
?바인드변수 같은 기능을 하는 #{컬럼명 or 객체의 필드명} 
테이블에 있는 이름으로 vo를 만들어서 사용하는게 좋다 -->
<!-- insert한 id,pw를 MavenMember객체 형태로 받아온다
게시글 번호만 가져올꺼면. int로 쓰면 된다   -->
<!-- ?바인드 변수대신 #{}라고 쓰고 세미콜론 쓰면 안됨 -->
  <insert id="insertMember" parameterType="com.smhrd.domain.MavenMember">
    INSERT INTO MEMBER_MAVEN(ID,PW) VALUES (#{id},#{pw})
  </insert> 


</mapper>

 